<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgba(153, 185, 155, 0.603);
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
        <a href="/update">Update Users</a>
        <a href="/delete">Delete Users</a>

    </div>
    <div class="table-content">

        <div class="title">LIST Users</div>

        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th> Actions</th>
            </tr>

            <% listUsers.forEach(function(users,index) { %>
                <tr>
                    <td>
                        <%=users.id %>
                    </td>
                    <td>
                        <%=users.email %>
                    </td>
                    <td>
                        <%=users.name %>
                    </td>
                    <td>
                        <%=users.city %>
                    </td>
                    <td>
                        <a href="/update/<%=users.id %>"> Edit</a>
                        <a href="/delete/<%=users.id %>"> Delete</a>
                    </td>
                </tr>
                <% }); %>

        </table>
    </div>

</body>

</html>